body {
  background-color: #eaf6f6;
  color: purple;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1 {
  color: teal;
}
h2 {
  color: teal;
}
h3 {
  color: #66bfbf;
}
img {
  align-items: flex-start;
  height: 200px;
  width: 150px;
  src: "pic2.png";
}

#skills1:hover{color: blue; cursor: ;}
#skills2:hover{color: blue;}
#skills3:hover{color: blue;}
#skills4:hover{color: blue;}
#skills5:hover{color: blue;}
